@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik:wght@500&display=swap');


body {
    background: url(../Images/For\ activity\ 5/bg.jpg) fixed no-repeat center top / cover;
}

header {
    color:whitesmoke;
    text-align: center;
    font-family:'Rubik'!important;
}

header > nav  {
    text-align: right;
    font-family: 'Roboto Condensed', 'sans-serif';
}